*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
a{
      text-decoration: none;
}
span{
      vertical-align: baseline;
}
html,body{
      width: 100%;
      height: 100%;
}
.wrapper{
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.home__title{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      padding-bottom: 8px;
      border-bottom: 1px solid #999;
}
.home__title h2{
      font-size: 13px;
      font-weight: 700;
      color: #55bed4;
}
.home__title span{
      font-size: 8px;
      font-weight: 400;
      color: #000;
}
.home__todayFeel{
      padding-top: 8px;
      font-size: 13px;
      font-weight: 400;
      color: #999;
}
.home__title2{
      border: none;
}
.grayBox{
      width: 100%;
      height: 240px;
      background-color: #c4c4c4;
}